<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="PostgresDb" connectionString="Host=10.62.210.157;Username=test;Password=test@2024;Database=rgsuatdb" />-->
	<add name="PostgresDb" connectionString="Host=52.172.10.72;Username=postgres;Password=hdfcergo@1234;Database=new-test-db-uat-triggers-16012025;Pooling=true;MaxPoolSize=200;Timeout=300;" />
	</connectionStrings>
	<appSettings>
		<add key="Status" value="Reconciliation Successful" />
		<add key="EmailServer" value="smtp.office365.com" />
		<add key="EmailSubject" value="PremiumValidation Scheduler Update" />
		<add key="EmailBody" value="PremiumValidation Scheduler is Completed" />
		<add key="FromEmailhdfc" value="RameshBabu.Thalla@hdfcergo.com" />
		<add key="Password" value="Ramesh@vam123" />
		<add key="FromEmail" value="chaitrali.galinde@valuemomentum.com" />
		<add key="ToEmail" value="chaitrali.galinde@valuemomentum.com,@valuemomentum.com" />
	</appSettings>
</configuration>